.header_top
	.logo_box
		a(href="/")
			| GRYNOW
	.navbar
		.nav_links
			.nav_link
				a(href='#')= strings.header.brand
			.nav_link
				a(href='#')= strings.header.creator
			.nav_link
				a(href='#')= strings.header.about_us
			.nav_link
				a(href='/contact')= strings.header.contact_us
		.nav_btns
			.nav_btn.btn_login
				a(href='#')= strings.header.login
			.nav_btn.btn_signup
				a(href='#')= strings.header.join_now